@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaria: #0D0D0D;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #22D4FD;
    --cor-hover: #272727;

    --fonte-primaria: 'Montserrat', sans-serif;
    --fonte-secundaria: 'Krona One', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 2% 0% 0% 10%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    color: var(--cor-terciaria);
    font-family: var(--fonte-primaria);
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
}

.apresentacao {
    padding: 5% 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 84px;
}

.apresentacao__conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 36px;
    font-family: var(--fonte-secundaria);
}

.destaque-titulo {
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__texto {
    font-size: 24px;
    font-family: var(--fonte-primaria);
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__subtitulo {
    font-family: var(--fonte-secundaria);
    font-weight: 400;
    font-size: 24px;
}

.apresentacao__links__link {
    /* background-color: #22D4FD; */
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    width: 378px;
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-primaria);
    font-weight: 600;
    transition: 1s all;
}

.apresentacao__links__link:hover {
    background-color: var(--cor-hover);
    transform: scale(1.1);
}

.rodape {
    background-color: var(--cor-terciaria);
    color: var(--cor-primaria);
    text-align: center;
    padding: 24px;
    font-family: var(--fonte-primaria);
    font-size: 24px;
    font-weight: 400;
}

.curriculum {
    padding: 5% 0 0 0;
    display: flex;
}

.curriculum__sidebar {
    background-color: var(--cor-terciaria);
    color: var(--cor-secundaria);
    width: 176px;
    padding: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}

.curriculum__sidebar__img {
    margin: 0 auto;
    width: 111px;
    border-radius: 90px;
}

.curriculum__sidebar__about {
    text-align: center;
}

.curriculum__sidebar__about__titulo {
    font-family:var(--fonte-secundaria);
    font-size: 28px;
    font-weight: 600;
    padding: 12px;
}

.curriculum__sidebar__about__texto {
    font-family: var(--fonte-primaria);
    font-size: 16px;
    padding: 0 24px;
}

.curriculum__sidebar__informacoes__titulo{
    font-family:var(--fonte-secundaria);
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    padding: 12px;
}

.curriculum__sidebar__informacoes__lista {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    font-family: var(--fonte-primaria);
    font-size: 14px;
    gap: 8px;
}

.curriculum__experiences {
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin: 5% 30%;
    text-align: center;
    
}

.curriculum__experiences__titulo {
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    font-size: 36px;
    font-weight: 600;
    text-align: center;
    padding: 10% 0;
}

.curriculum__experiences__subtitulo {
    font-family: var(--fonte-secundaria);
    font-size: 24px;
    font-weight: 400;
    padding: 16px 0;
    color: var(--cor-secundaria);
}

.curriculum__experiences__lista {
    color: var(--cor-secundaria);
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.curriculum__experiences__lista__itens {
    list-style-type: none;
    font-family: var(--fonte-primaria);
    font-size: 16px;
}

.destaque-estabelecimento {
    color: var(--cor-terciaria);
}

